    <%= form_tag( { action: 'update_avatar', id: @user }, multipart: true) do %>
    <section class="form--section">
      <div class="form--field">
        <label class="form--label" for="username">
          <%= l(:label_current_avatar) %>
        </label>
        <div class="form--field-container">
          <div>
            <%= local_avatar(@user) %>
          </div>
        </div>
      </div>
      <div class="form--field">
        <label class="form--label" for="username">
          <%= l(:label_choose_avatar) %>
        </label>
        <div class="form--field-container">
          <%= file_field_tag "avatar" %>
        </div>
      </div>
      <p>
        <%= styled_button_tag l(:button_save), class: '-highlight -with-icon icon-checkmark' %>
        <% if @user.local_avatar_attachment %>
            <%= submit_tag l(:button_delete), name: 'delete',
                           confirm: l(:are_you_sure_delete_avatar),
                           class: 'button' %>
        <% end %>
      </p>
    </section>
    <% end %>
