<% html_title l(:label_administration), l("announcements.announcement") %>

<%= error_messages_for 'announcement' %>

<%= toolbar title: "#{l('announcements.announcement')} (#{notice_annoucement_active})" %>

<%= labelled_tabular_form_for @announcement,
             :url => {:action => :update},
             :html => {:method => :put} do |f|%>
  <div class="form--field">
    <%= f.text_area :text, :cols => 80, :rows => 5, label: l('announcements.text') %>
  </div>
  <div class="form--field">
    <%= f.text_field :show_until, label: l("announcements.show_until") %>
    <%= calendar_for("announcement_show_until") %>
  </div>
  <div class="form--field">
    <%= f.check_box :active, label: l('announcements.active') %>
  </div>
  <hr class="form-separator">
  <%= styled_button_tag l(:button_save), class: '-highlight -with-icon icon-checkmark' %>
<% end %>
